* {
  box-sizing: border-box;
}

:root {
  --main-red-color: #e06262;
  --homemade-apple-font: "Homemade Apple", cursive;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #2d2d2d;
  height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-red-color {
  color: var(--main-red-color);
}

.container {
  width: 600px;
  height: 600px;
  background-color: #f2eecb;
  border-radius: 4px;
  padding: 32px;
}

.frame {
  border: 1px solid #484848;
  height: 100%;
  padding: 0 16px;
}

/* SECTION HEADER */
section.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-title {
  font-size: 3.6rem;
  font-family: var(--homemade-apple-font);
  text-transform: lowercase;
}

.btn {
  font-size: 1.8rem;
  font-family: "Bungee", cursive;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
/* END SECTION HEADER */

/* SECTION FORM ADD TODO */
.add-form {
  display: flex;
  align-items: flex-start;
}

.add-input {
  flex: 1;
  background-color: unset;
  border: none;
  border-bottom: 1px solid var(--main-red-color);
  outline: none;
  font: 1.6rem var(--homemade-apple-font);
  text-transform: lowercase;
  text-align: center;
  margin-right: 8px;
}
/* END SECTION FORM ADD TODO */
